.linkRow__item{
 display: flex;
 align-items: center;
 gap: 6px;
 transition: 0.3s all ease-in-out;
 cursor: pointer    ;
}
.linkRow__item:hover{
    transform: translateY(-10px)
}
.linkRow__link{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
