.past {
}
.past__container {
}
.container {
}
.past__row {
}
.past__item {
    color: #fff;
}
.past__top-title-box {
    padding: 113px 0 42px;
    text-align: center;
}
.past__top-title {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}
.past__top-subtitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(192, 192, 192);
}
.past__label-row {
    padding: 40px 40px 140px;
   
}
.past__link {
}

/* ======================================= */
.past__item:nth-child(2) .past__container{
    position: relative;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.past__item:nth-child(2) .past__container::before{
    content: url(../../img/Past/bg.png);
    top: 0;
    left: 0;
    position: absolute;
}
.past__text-box{
z-index: 10;
max-width: 265px;
padding-bottom: 162px;
margin-right: 380px;

}
.past__title{
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 3px;
}
.past__text{
font-weight: 400;
line-height: 20px;
font-size: 14px;
color: rgb(192, 192, 192);
}
.past__item:nth-child(3) .past__container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.past__bottom-box{
    max-width: 572px;
    text-align: center;
}
.bottom__title{
    font-size: 40px;
    font-weight: 400;
    line-height: 42px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.bottom__subtitle{}